#loginFormModal {
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 440px;

}

#loginFormModal form{
    display: flex;
    flex-direction:column ;
    align-items: center;
    height: 200px;
    width:350px;

}